.label {
 display: flex;
 flex-direction: column;
 font-weight: 800;
 font-size: 2rem;
 margin-left: 1rem;
}

.input {
 background-color: black;
 color: white;
 border: none;
 border-radius: 0.5rem;
 width: 35rem;
 height: 4rem;
 font-size: 2rem;
}
